@charset "UTF-8";
/**
* Foundation
* ========================== */
/* サイト幅 */
/* フォントファミリー */
/* フォントカラー */
/* フォントサイズ */
/* フォントウェイト */
/* 行の高さ */
/* 背景・ブロック区切り等 */
/* テーブルボーダー */
/* オパシティ */
/* フォーム */
/* リセットcss & 基本設定 */
* , *::before , *::after {
    -webkit-box-sizing : border-box;
            box-sizing : border-box;
}

html {
    font-size : 62.5%;
}

html , body {
    margin : 0;
    padding : 0;
}

body {
    font-family : "Noto Sans JP", sans-serif;
    font-size : 1.6rem;
    font-weight : 300;
    line-height : 1.5;
    overflow-x : hidden;
    color : #4c4f35;
    background : #fff;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;
    overflow-wrap : break-word;
}

article , aside , footer , header , nav , section , main {
    display : block;
}

h1 , h2 , h3 , h4 , h5 , h6 , a , p , span , em , small , strong , sub , sup , mark , del , ins , strike , abbr , dfn , blockquote , q , cite , code , pre , ol , ul , li , dl , dt , dd , div , section , article , main , aside , nav , header , hgroup , footer , img , figure , figcaption , address , time , audio , video , canvas , iframe , details , summary , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td {
    margin : 0;
    padding : 0;
    border : 0;
}

a {
    text-decoration : none;
    color : inherit;
    outline : none;
}

img {
    max-width : 100%;
    height : auto;
    vertical-align : top;
    border : none;
}

video {
    max-width : 100%;
    height : auto;
}

code , kbd , pre , samp {
    font-family : inherit;
    font-size : inherit;
}

ul , ol {
    list-style : none;
}

table {
    width : 100%;
    table-layout : fixed;
    border-spacing : 0;
    border-collapse : collapse;
}

th , td {
    padding : 4px 6px;
    text-align : left;
    vertical-align : top;
}

blockquote , q {
    quotes : none;
}

blockquote::after , blockquote::before , q::after , q::before {
    content : "";
    content : none;
}

address {
    font-style : normal;
}

form {
    margin : 0;
    padding : 0;
}

form button {
    font-size : 1.6rem;
    display : inline-block;
    width : auto;
    margin : 0;
    padding : .6em 2em;
    cursor : pointer;
    -webkit-transition : all .3s ease 0s;
            transition : all .3s ease 0s;
    text-decoration : none;
    color : #fff;
    border : none;
    border-radius : 0;
    background-image : none;
    -webkit-appearance : none;
}

form button:hover , form button:focus {
    outline : none;
}

form button:hover {
    opacity : .7;
}

form button ::-moz-focus-inner {
    padding : 0;
    border : none;
}

input , textarea {
    font-family : inherit;
    font-size : inherit;
    width : 100%;
    padding : 8px;
    border : 1px solid #4c4f35;
    border-radius : 0;
    background-image : none;
    -webkit-appearance : none;
}

textarea:hover , textarea:focus {
    outline : none;
}

textarea:focus {
    border-color : #5bedf7;
    outline : none;
    -webkit-box-shadow : none;
            box-shadow : none;
}

textarea ::-moz-focus-inner {
    padding : 0;
    border : none;
}

input:focus {
    border-color : #5bedf7;
    outline : none;
    -webkit-box-shadow : none;
            box-shadow : none;
}

input[type="submit"] , input[type="button"] {
    font-size : 1.6rem;
    display : inline-block;
    width : auto;
    margin : 0;
    padding : .6em 2em;
    cursor : pointer;
    -webkit-transition : all .3s ease 0s;
            transition : all .3s ease 0s;
    text-decoration : none;
    color : #fff;
    border : none;
    border-radius : 0;
    background-image : none;
    -webkit-appearance : none;
}

input[type="submit"]:hover , input[type="submit"]:focus , input[type="button"]:hover , input[type="button"]:focus {
    outline : none;
}

input[type="submit"]:hover , input[type="button"]:hover {
    opacity : .7;
}

input[type="submit"] ::-moz-focus-inner , input[type="button"] ::-moz-focus-inner {
    padding : 0;
    border : none;
}

input[type="radio"] {
    display : none;
}

input[type="radio"] + span {
    position : relative;
    display : inline-block;
    margin : 0 16px 0 0;
    cursor : pointer;
}

input[type="radio"] + span::before {
    position : absolute;
    top : 50%;
    left : 0;
    display : block;
    content : "";
    -webkit-transform : translateY(-50%);
        -ms-transform : translateY(-50%);
            transform : translateY(-50%);
    border : 1px solid #4c4f35;
    border-radius : 50%;
    background : #fff;
}

input[type="radio"] + span::after {
    -webkit-transition : opacity .3s ease 0s;
            transition : opacity .3s ease 0s;
    opacity : 0;
}

input[type="radio"]:checked + span::after {
    position : absolute;
    top : 50%;
    display : block;
    content : "";
    -webkit-transform : translateY(-50%);
        -ms-transform : translateY(-50%);
            transform : translateY(-50%);
    opacity : 1;
    border-radius : 50%;
}

input[type="checkbox"] {
    display : none;
}

input[type="checkbox"] + span {
    position : relative;
    display : inline-block;
    margin : 0 16px 0 0;
    cursor : pointer;
    -webkit-transition : all 1s ease 0s;
            transition : all 1s ease 0s;
}

input[type="checkbox"] + span::before {
    position : absolute;
    top : 50%;
    left : 0;
    display : block;
    content : "";
    -webkit-transform : translateY(-50%);
        -ms-transform : translateY(-50%);
            transform : translateY(-50%);
    border : 1px solid #4c4f35;
    border-radius : 2px;
    background : #fff;
}

input[type="checkbox"] + span::after {
    -webkit-transition : opacity .3s ease 0s;
            transition : opacity .3s ease 0s;
    opacity : 0;
}

input[type="checkbox"]:checked + span::after {
    position : absolute;
    top : 50%;
    left : 0;
    display : block;
    margin-top : -.2em;
    content : "";
    -webkit-transform : translateY(-50%) rotate(-45deg);
        -ms-transform : translateY(-50%) rotate(-45deg);
            transform : translateY(-50%) rotate(-45deg);
}

select {
    font-family : inherit;
    font-size : 1.6rem;
    padding : .4em 2.4em .4em .8em;
    cursor : pointer;
    color : inherit;
    border-radius : 0;
    background-image : url(../img/arrow.svg);
    background-repeat : no-repeat;
    background-position : right 6px center;
    background-size : 24px;
       -moz-appearance : none;
    -webkit-appearance : none;
}

select::-ms-expand {
    display : none;
}

select:focus {
    outline : none;
    -webkit-box-shadow : none;
            box-shadow : none;
}

/**
* Layout
* ========================== */
.inner {
    width : 1000px;
    max-width : 100%;
    height : inherit;
    margin : 0 auto;
    padding : 0;
}

/* Project ------------ */
.global-nav {
    font-size : 2.2rem;
    border-bottom : 2px solid pink;
}

.global-nav ul {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
}

.global-nav li {
    line-height : 36px;
    width : calc( 100% / 6);
    height : 36px;
    text-align : center;
}

.global-nav li:not(:last-child) {
    border-right : 2px solid pink;
}

.global-nav li img {
    height : 25px;
    margin-top : 6px;
}

.global-nav li a {
    display : block;
}

.global-nav li a:hover {
    opacity : .7;
}

#drawer-checkbox {
    display : none;
}

#drawer-icon {
    position : fixed;
    top : 10px;
    right : 5px;
    display : none;
    -webkit-box-sizing : border-box;
            box-sizing : border-box;
    width : 32px;
    height : 32px;
    cursor : pointer;
}

#drawer-icon span {
    position : absolute;
    display : block;
    -webkit-box-sizing : border-box;
            box-sizing : border-box;
    width : 100%;
    height : 5px;
    -webkit-transition : all .3s ease-in-out;
            transition : all .3s ease-in-out;
    border-radius : 5px;
    background : pink;
}

#drawer-icon span:nth-of-type(1) {
    top : 0;
}

#drawer-icon span:nth-of-type(2) {
    top : 42%;
}

#drawer-icon span:nth-of-type(3) {
    bottom : 0;
}

#drawer-checkbox:checked ~ #drawer-icon span:nth-of-type(1) {
    -webkit-transform : translateY(12px) rotate(-45deg);
        -ms-transform : translateY(12px) rotate(-45deg);
            transform : translateY(12px) rotate(-45deg);
}

#drawer-checkbox:checked ~ #drawer-icon span:nth-of-type(2) {
    opacity : 0;
}

#drawer-checkbox:checked ~ #drawer-icon span:nth-of-type(3) {
    -webkit-transform : translateY(-15px) rotate(45deg);
        -ms-transform : translateY(-15px) rotate(45deg);
            transform : translateY(-15px) rotate(45deg);
}

#drawer-close {
    position : fixed;
    z-index : 39;
    top : 0;
    left : 0;
    display : none;
    width : 100%;
    height : 100%;
    -webkit-transition : all .3s ease-in-out 0s;
            transition : all .3s ease-in-out 0s;
    opacity : 0;
    background : #000;
}

#drawer-checkbox:checked ~ #drawer-close {
    display : block;
    opacity : .3;
}

#drawer-checkbox:checked ~ .global-nav {
    z-index : 40;
    right : 0;
    -webkit-box-shadow : 6px 0 25px rgba(0, 0, 0, .16);
            box-shadow : 6px 0 25px rgba(0, 0, 0, .16);
}

@media screen and (max-width: 767px) {
    #drawer-icon {
        z-index : 41;
        display : inline-block;
    }
    .global-nav > .inner {
        -webkit-box-orient : vertical;
        -webkit-box-direction : normal;
        -ms-flex-direction : column;
            flex-direction : column;
        padding : 0;
    }
    .global-nav li {
        line-height : 50px;
        width : 100%;
        height : 50px;
        margin-bottom : 20px;
        border-right : none;
    }
    .global-nav li:not(:last-child) {
        border-right : none;
    }
    .global-nav li img {
        max-width : 80%;
        height : 40px;
        margin-top : 10px;
    }
    .global-nav {
        position : fixed;
        z-index : 40;
        top : 0;
        right : -100%;
        overflow-y : scroll;
        width : 80%;
        height : 100vh;
        padding-top : 60px;
        -webkit-transition : .5s;
                transition : .5s;
        -webkit-transform : translateZ(0);
                transform : translateZ(0);
        border-bottom : 0;
        background : rgba(255, 255, 255, .9);
    }
}

/* Utility ------------ */
/*# sourceMappingURL=style.css.map */
