/* リセットcss & 基本設定 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	//スマホでのフォントサイズ指定を効かす
	-webkit-text-size-adjust: 100%;
	//単語がはみ出さないように改行
	word-wrap : break-word;
	overflow-wrap: break-word;
	//アンチエイリアス系
	//chrome
	-webkit-font-smoothing: antialiased;
	//firefox
	-moz-osx-font-smoothing: grayscale;
	//右側へのはみ出しは隠す
	overflow-x: hidden;

	font-family: $ff-default;
	font-size: $fz_default;
	font-weight: $fw-default;
	color: $fc-default;
	line-height: $lh-default;
	background: $bgColor;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	color: inherit;
  outline: none;
  text-decoration: none;
}

img {
//	「max-width:100%;」は、「画像の大きさの最大値」が「親要素のwidth幅の100%の値」という意味
//このままでは横幅のwidth幅だけが縮小されてしまい、高さが調整されずに画像が歪んでしまうため、「height:auto;」も指定して高さも最適化
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

video {
	max-width: 100%;
	height: auto;
}
iframe {
  max-width: 100%;
  height: auto;
}
code,
kbd,
pre,
samp {
	font-family: inherit;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	//autoに比べて表示が速くなるメリットがあります。table-layoutプロパティに「fixed」を指定する場合には、必要に応じて各列（セル）の幅を指定しますが、幅が指定されていない列には残りの幅が均等に割り当てられます。
	table-layout: fixed;

	//	border: 1px solid $cr-table;
}

th,
td {
	padding: 4px 6px;
	text-align: left;
//	vertical-align: top;
//	border: 1px solid $cr-table;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}
/* フォーム関連
*****************************************/
//デフォルトスタイルを削除
input,
button,
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form {
	margin: 0;
	padding: 0;

	button {
		width: auto;
		display: inline-block;
		padding: 0.6em 2em;
		margin: 0;
		background-image: none;
		background-color: $cr-btn;
		color: #fff;
		border-radius: 0;
		font-size: inherit;
		transition: all .3s;
		text-decoration: none;
		border: none;
		cursor: pointer;

		&:hover,
		&:focus {
			outline: none;
		}

		&:hover {
			opacity: $opacity;
		}
		//firefox用
		::-moz-focus-inner {
			padding: 0;
			border: none;
		}
	}
}

input,
textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid $cr-form-bd;
	border-radius: 0;
	background-image: none;
	font-family: inherit;
	font-size: inherit;
}

textarea {

	&:hover,
	&:focus {
		outline: none;
	}

	&:focus {
		outline: none;
		border-color: $cr-form-bd_avtive;
		box-shadow: none;
	}

	::-moz-focus-inner {
		padding: 0;
		border: none;
	}
}

input {

	&:focus {
		outline: none;
		border-color: $cr-form-bd_avtive;
		box-shadow: none;
	}

	&[type="submit"],
	&[type="button"] {
		width: auto;
		display: inline-block;
		padding: 0.6em 2em;
		margin: 0;
		background-image: none;
		// background-color: $cr-m;
		color: #fff;
		text-decoration: none;
		border: none;
		border-radius: 0;
		font-size: 1.6rem;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:hover,
		&:focus {
			outline: none;
		}

		&:hover {
			opacity: $opacity;
		}

		::-moz-focus-inner {
			padding: 0;
			border: none;
		}
	}

	/* ラジオボタンのスタイルを変更
*****************************************/

	&[type="radio"] {
		display: none;

		+ span {
			display: inline-block;
			position: relative;
			padding: 3px 10px 3px 24px;
			margin: 0 16px 0 0;
			cursor: pointer;

			&::before {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: #fff;
				border: 1px solid $cr-form-bd;
				border-radius: 50%;
				width: 16px;
				height: 16px;
				display: block;
			}

			&::after {
				opacity: 0;
				transition: opacity 0.3s ease 0s;
			}
		}

		&:checked + span {

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				// left: ($size-radio - $size-radio_active) / 2;
				transform: translateY(-50%);
				// background: $cr-check;
				border-radius: 50%;
				// width: $size-radio_active;
				// height: $size-radio_active;
				display: block;
				opacity: 1;
			}
		}
	}

	/* チェックボックスのスタイルを変更
*****************************************/
	&[type="checkbox"] {
		display: none;

		+ span {
			display: inline-block;
			position: relative;
			padding: 3px 10px 3px 22px;
			margin: 0 16px 0 0;
			cursor: pointer;
			transition: all 1s;

			&::before {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: #fff;
				border: 1px solid $cr-form-bd;
				border-radius: 2px;
				// width: $size-checkbox;
				// height: $size-checkbox;
				display: block;
			}

			&::after {
				opacity: 0;
				transition: opacity 0.3s ease 0s;
			}
		}

		&:checked + span {

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%) rotate(-45deg);
				// width: $size-checkbox;
				// height: ($size-checkbox * 0.6);
				margin-top: -0.2em;
				display: block;
				// border-left: 4px solid $cr-check_active;
				// border-bottom: 4px solid $cr-check_active;
				// opacity: 1;
			}
		}
	}
}

select {
	padding: 0.4em 2.4em 0.4em 0.8em;
	border-radius: 0;
	background-image: url(../img/arrow.svg);
	background-position: right 6px center;
	background-repeat: no-repeat;
	background-size: 24px;
	font-family: inherit;
	font-size: 1.6rem;
	color: inherit;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	border: 1px solid $cr-form-bd;

	&::-ms-expand {
		display: none;
	}

	&:focus {
		outline: none;
		box-shadow: none;
		border-color: $cr-form-bd_avtive;
	}
}