
/* サイト幅 */
$site_inner: 1000px;

/* フォントファミリー */
$ff-default: 'Noto Sans JP', sans-serif;
$ff-mincho : a-otf-ryumin-pr6n, serif;

/* フォントカラー */
$fc-default: #4c4f35;
$fc-primary: pink;
$fc-sub: #5c6614;

/* フォントサイズ */
$fz_m: 1.4rem;
$fz_default: 1.6rem;
$fz_l: 1.8rem;
$fz_2l: 2rem;
$fz_3l: 2.8rem;
$fz-menu: 2.2rem;

/* フォントウェイト */
$fw-default: 300;
$fw-l: 600;

/* 行の高さ */
$lh-default: 1.5;

/* 背景・ブロック区切り */
$cr-bg:#fff;
$cr-block: #e5db70;

/* テーブルボーダー */
$cr-table: #4c4f35;

/* オパシティ */
$opacity : .7;

/* フォーム */
$cr-form-bd: #4c4f35;
$cr-form-bd_avtive : #5bedf7;
$cr-btn: pink;

