$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  'tab': 'screen and (min-width: 768px)',
  'pc': 'screen and (min-width: #{$site_inner})',
) !default;

@mixin sp($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin tab($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin pc($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
