// メニュー

.global-nav {
  font-size: $fz-menu;
  border-bottom: 2px solid $fc-primary;
  & ul {
  display: flex;
  }
}
.global-nav li
{
    line-height: 36px;

    width: calc( 100% / 6);
    height: 36px;

    text-align: center;
    &:not(:last-child)
    {
        border-right: 2px solid  $fc-primary;
    }
    & img
    {
        height: 25px;
        margin-top: 6px;
    }
}

.global-nav li a {
  display: block;
  &:hover {
    opacity: $opacity;
  }
}

#drawer-checkbox {
  display: none;
}

#drawer-icon {
  display: none;
  position: fixed;
  top:10px;
  right:5px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  box-sizing: border-box;
}

#drawer-icon span {
  position: absolute;
  transition: all 0.3s ease-in-out;
  background:  $fc-primary;
  border-radius: 5px;
  display: block;
  height: 5px;
  width: 100%;
  box-sizing: border-box;
  &:nth-of-type(1) {
    top: 0px;
  }
  &:nth-of-type(2) {
    top: 42%;
  }
  &:nth-of-type(3) {
    bottom: 0;
  }
}

#drawer-checkbox:checked ~ #drawer-icon span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
#drawer-checkbox:checked ~ #drawer-icon span:nth-of-type(2) {
  opacity: 0;
}
#drawer-checkbox:checked ~ #drawer-icon span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

#drawer-close {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

#drawer-checkbox:checked ~ #drawer-close {
  display: block;
  opacity: 0.3;
}

#drawer-checkbox:checked ~
.global-nav {
  right: 0;
  z-index: 40;
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

@include sp(){
  #drawer-icon {
    display: inline-block;
    z-index: 41;
  }

  .global-nav > .inner {
    flex-direction: column;
    padding: 0;

  
  }

  .global-nav li {
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-right: none;
    margin-bottom: 20px;
    &:not(:last-child) {
      border-right: none;
    }

    & img {
      margin-top: 10px;
      max-width: 80%;
      height: 40px;
    }
  }

  .global-nav {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 40;
    border-bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 80%;
    padding-top: 60px;
    transition: .5s; 
    // メニューバーの縦スクロール
    overflow-y: scroll;
    height: 100vh;
    transform: translateZ(0);

  }

}
